* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spectral", serif;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 1.2rem;
  width: 100%;
  background-color: rgb(197, 149, 87);
  font-family: "Monserrat", sans-serif;
}

a {
  text-decoration: none;
}

header a {
  color: black;
}

header img {
  height: 55px;
  width: 100px;
  margin: 0;
  margin-left: 2rem;
}

.nav-links {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 15px;
  padding: 4px;
}

.nav-links:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.nav-links:hover:after {
  width: 100%;
  background: black;
}

#about {
  min-height: 80vh;
  background-image: linear-gradient(to top, rgba(15, 13, 13, 0.6), rgba(23, 20, 20, 0.6)), url("assets/library.jpeg");
  color: aliceblue;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  padding-top: 2.25rem;
  font-family: "Dancing Script", cursive;
}

#about p {
  margin: 2rem 5rem;
  font-size: 1.5rem;
}

section {
  text-align: center;
}

#bestsellers {
  background-image: linear-gradient(to bottom left, rgb(176, 243, 21), rgb(207, 215, 57));
}

section p {
  font-size: 1.5rem;
}

.grid-div {
  display: grid;
  margin-top: 2rem;
  gap: 30px 0px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
}

.grid-div article {
  background-color: rgb(234, 160, 63);
  border-radius: 10px;
  margin: 0 1.5rem 0 1.5rem;
  height: 250px;
  color: aliceblue;
}

.grid-div h3 {
  font-size: 1.25rem;
  color: black;
  margin-top: 0.25rem;
}

.grid-div a {
  color: black;
}

.grid-div img {
  height: 75%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#genres {
  background-image: linear-gradient(to bottom right, rgb(207, 215, 57), rgb(99, 243, 21));
}

#contact {
  background-color: black;
  color: aliceblue;
  padding-bottom: 25px;
}
